# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ruff
.ruff_cache/